* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0.5);
    padding: 5%;
    text-align: center;
}

body>h1 {
    color: white;
}

#container {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr(3);
    margin: 0 auto;
    padding: 2%;
    width: 90%;
    height: 60vh;
    border: 1px solid white;
    background-color: rgba(20, 0, 39, 0.5);
    box-shadow: 10px 2px 5px 1px rgba(3, 135, 187, 0.5);
}

#container>div:not(:last-child) {
    border-bottom: 1px solid white;
}

#container>div:not(:first-child) {
    margin-top: 1%;
}

#container>#create {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: start;
}

#dep,
#wdrw {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: start;
}

.inputs,
.btns {
    height: 100%;
    text-align: center;
    font-size: 1rem;
    width: 100%;
    margin: 1px;
}

.btns {
    cursor: pointer;
    margin: 1px;
}

.showbox1 {
    background-color: transparent;
    margin-top: 0;
    grid-area: 2 / 1 / span 1 / span 5;
}

.showbox1>#listbox {
    background-color: white;
}

#depositbox,
#withdrawbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-area: 2 / 1 /span 1/span 6;
    text-align: center;
}

.boxes {
    height: 100%;
    background-color: white;
    margin: 1px;
}

@media only screen and (max-width:707px) {
    #container>#create {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: start;
    }
    #dep,
    #wdrw {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: start;
    }
}